body {
  height: 100vh;
  color: white;
  background-color: #070103;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  background-color: #070103;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100vw;
}
#header button {
  border: none;
  background-color: black;
  color: white;
  font-size: 2em;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  width: 200px;
}
#header button:hover,
#header .selected {
  background-color: #3c1203;
  text-shadow: gold 0 0 2px;
}
#main {
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  column-gap: 0;
}

#title-container {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: start;
  font-size: 3em;
  font-weight: 900;
  margin: 0 auto;
  color: white;
}
h3 {
  font-size: 3rem;
}
#title-drink-container,
#title-food-container {
  display: flex;
  flex-direction: row;
  font-size: 3em;
  text-align: right;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 20vh;
  column-gap: 10px;
}
#main-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
h5 {
  font-size: 1.7rem;
}

#menu-background {
  position: absolute;
  width: 60%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
#drinks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  row-gap: 3.5em;
  transform: translateY(-52px) translateX(-25px);
}
#drinks-container .item-container:nth-child(even) {
  transform: translateX(-150px);
}
#food-container .item-container:nth-child(even) {
  transform: translateX(80px);
}
.item-container:nth-child(odd) {
  transform: translateX(-41px);
}

#title-drink-photo {
  width: 25%;
}
.item-container {
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
  width: fit-content;
  column-gap: 10px;
  padding: 0.5rem;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.item-container img {
  width: 80px;
  height: 80px;
}

#food-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-16px);
  row-gap: 3.5em;
}
#title-food-container {
  display: flex;
  transform: translateX(-40px);
}
#elizabeth {
  width: 200px;
}
.item-container:hover {
  background: rgba(95, 29, 5, 0.671);
}
#sigward {
  width: 40%;
  position: absolute;
  left: 0;
  transform: rotateY(180deg);
}
#talk {
  position: absolute;
  font-size: 2.5rem;
  width: 50%;
  height: 50%;
  top: 10vh;
  right: 10vw;
  padding: 1rem;
  border: 3px solid white;
}
